page-about {

}

.bg-gray {
    background-color: #f7f7f7;
}

.h20 {
    height: 50px;
}

.w20 {
    width: 50px;
}

.r50 {
    border-radius: 50%;
}

.pb10 {
    margin-bottom: 10px !important;
}

.cardheader {
    font-size: 12px; 
    font-weight: 400; 
    color: #ff5100
}

img{margin-left: 5%}

