<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Standing</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="standing" color="danger">
    <ion-segment-button value="man">
      <ion-icon name="man"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="woman">
      <ion-icon name="woman"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content class="bg-gray" [ngSwitch]="standing">
  <ion-list *ngSwitchCase="'man'">
    <ion-card *ngFor="let g of group | async">
      <div *ngIf="g.data.category == 'Lelaki'">
        <ion-card-header text-center>
          Group {{g.data.group_name}}
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-1 class="headerer" text-wrap>
  
              </ion-col>
              <ion-col col-6 class="headerer1" text-wrap>
                Team
              </ion-col>
              <ion-col col-1 class="headerer" text-wrap>
                P
              </ion-col>
              <ion-col col-1 class="headerer" text-wrap>
                W
              </ion-col>
              <ion-col col-1 class="headerer" text-wrap>
                L
              </ion-col>
              <ion-col col-2 class="headerer" text-wrap>
                Pts
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let team of g.teamList | async;let i = index">
              <ion-col col-1 class="coll1" text-wrap>
                {{i + 1}}
              </ion-col>
              <ion-col col-6 class="coll1" text-wrap>
                {{team.data.team_name}}
              </ion-col>
              <ion-col col-1 class="coll" text-wrap>
                {{team.data.played}}
              </ion-col>
              <ion-col col-1 class="coll" text-wrap text-center>
                {{team.data.win}}
              </ion-col>
              <ion-col col-1 class="coll" text-wrap text-center>
                {{team.data.lost}}
              </ion-col>
              <ion-col col-2 class="coll" text-wrap text-center>
                {{team.data.points}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>
  <ion-list *ngSwitchCase="'woman'">
    <ion-card *ngFor="let g of group | async">
      <div *ngIf="g.data.category == 'Perempuan'">
        <ion-card-header text-center>
          Group {{g.data.group_name}}
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-1 class="headerer" text-wrap>
  
              </ion-col>
              <ion-col col-6 class="headerer1" text-wrap>
                Team
              </ion-col>
              <ion-col col-1 class="headerer" text-wrap>
                P
              </ion-col>
              <ion-col col-1 class="headerer" text-wrap>
                W
              </ion-col>
              <ion-col col-1 class="headerer" text-wrap>
                L
              </ion-col>
              <ion-col col-2 class="headerer" text-wrap>
                Pts
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let team of g.teamList | async;let i = index">
              <ion-col col-1 class="coll1" text-wrap>
                {{i + 1}}
              </ion-col>
              <ion-col col-6 class="coll1" text-wrap>
                {{team.data.team_name}}
              </ion-col>
              <ion-col col-1 class="coll" text-wrap>
                {{team.data.played}}
              </ion-col>
              <ion-col col-1 class="coll" text-wrap text-center>
                {{team.data.win}}
              </ion-col>
              <ion-col col-1 class="coll" text-wrap text-center>
                {{team.data.lost}}
              </ion-col>
              <ion-col col-2 class="coll" text-wrap text-center>
                {{team.data.points}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
