<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Standing</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="standing" color="danger">
    <ion-segment-button value="man">
      <ion-icon name="man"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="woman">
      <ion-icon name="woman"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content padding class="bg-gray" [ngSwitch]="standing">
  <ion-list *ngSwitchCase="'man'">
    <ion-card *ngFor="let g of group | async">
      <div *ngIf="g.data.category == 'Lelaki'">
        <ion-card-header>
          Group {{g.data.group_name}}
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-2 class="headerer" text-wrap>
                No
              </ion-col>
              <ion-col col-4 class="headerer" text-wrap>
                Team
              </ion-col>
              <ion-col col-2 class="headerer" text-wrap>
                Win
              </ion-col>
              <ion-col col-2 class="headerer" text-wrap>
                Lost
              </ion-col>
              <ion-col col-2 class="headerer" text-wrap>
                Points
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let team of g.teamList | async;let i = index">
              <ion-col col-2 class="coll" text-wrap>
                {{i+1}}
              </ion-col>
              <ion-col col-4 class="coll" text-wrap>
                {{team.data.team_name}}
              </ion-col>
              <ion-col col-2 class="coll" text-wrap text-center>
                {{team.matchList}}
              </ion-col>
              <ion-col col-2 class="coll" text-wrap text-center>
                0
              </ion-col>
              <ion-col col-2 class="coll" text-wrap text-center>
                0
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>
  <ion-list *ngSwitchCase="'woman'">
      <ion-card *ngFor="let g of group | async">
          <div *ngIf="g.data.category == 'Perempuan'">
            <ion-card-header>
              Group {{g.data.group_name}}
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-2 class="headerer" text-wrap>
                    No
                  </ion-col>
                  <ion-col col-4 class="headerer" text-wrap>
                    Team
                  </ion-col>
                  <ion-col col-2 class="headerer" text-wrap>
                    Win
                  </ion-col>
                  <ion-col col-2 class="headerer" text-wrap>
                    Lost
                  </ion-col>
                  <ion-col col-2 class="headerer" text-wrap>
                    Points
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let team of g.teamList | async;let i = index" style="font-size: 10px;">
                    <ion-col col-2 class="coll" text-wrap >
                      {{i+1}}
                    </ion-col>
                    <ion-col col-4 class="coll" text-wrap>
                      {{team.team_name}}
                    </ion-col>
                    <ion-col col-2 class="coll" text-wrap text-center>
                      0
                    </ion-col>
                    <ion-col col-2 class="coll" text-wrap text-center>
                      0
                    </ion-col>
                    <ion-col col-2 class="coll" text-wrap text-center>
                      0
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </ion-card-content>
          </div>
        </ion-card>
  </ion-list>
</ion-content>
